#dishesTypes {
    text-align: center;
    margin: 5px;
}

#listDishesTypes {
    margin: 5px auto;
    text-align: center;
}

.tableDishesTypes {
    margin: 5px auto;

}

.tableDishesTypes td{
    padding: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    background: #FFE4E1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
#blocks{
    padding: 30px;
    margin:100px;
    height:500px;
    width: 950px;
    position: absolute;
    background-repeat: repeat-y;
}
.block1{
    height:230px;
    float: left;
}
.block2{
    height:230px;
    float: right;
}
.block3{
    height:230px;
    float: left;
    padding-top: 20px;
}
.block4{
    height:230px;
    float: right;
    padding-top: 20px;
}