# Created by .ignore support plugin (hsz.mobi)
.idea/**
*.iml
target/classes/org/levelup/labradoodle/Application.class
target/classes/org/levelup/labradoodle/config/ApplicationConfig.class
target/classes/org/levelup/labradoodle/controllers/HomeController.class
target/classes/org/levelup/labradoodle/models/entities/City.class
target/classes/org/levelup/labradoodle/models/entities/Dishes.class
target/classes/org/levelup/labradoodle/models/entities/Restaurants.class
target/classes/org/levelup/labradoodle/models/entities/TypeDishes.class
target/classes/org/levelup/labradoodle/models/entities/UsersPeople.class
target/classes/org/levelup/labradoodle/models/web/DishesDto.class
target/classes/org/levelup/labradoodle/models/web/RestaurantsDto.class
target/classes/org/levelup/labradoodle/models/web/UsersPeopleDto.class
target/classes/org/levelup/labradoodle/repositories/DishRepository.class
target/classes/org/levelup/labradoodle/repositories/IDishRepository.class
target/classes/org/levelup/labradoodle/repositories/IRestaurantRepository.class
target/classes/org/levelup/labradoodle/repositories/IUserRepository.class
target/classes/org/levelup/labradoodle/repositories/RestaurantRepository.class
target/classes/org/levelup/labradoodle/repositories/UserRepository.class
target/test-classes/DishesDtoTest.class
target/test-classes/RestaurantsDtoTest.class
target/test-classes/UsersPeopleDtoTest.class
sh.exe.stackdump
target/MANIFEST.MF
target/classes/log4j2.xml
target/classes/org/levelup/labradoodle/repositories/DishRepositoryImpl.class
target/classes/org/levelup/labradoodle/repositories/RestaurantRepositoryImpl.class
target/classes/org/levelup/labradoodle/repositories/UserRepositoryImpl.class
target/classes/org/levelup/labradoodle/services/AppService.class
target/classes/org/levelup/labradoodle/services/AppServiceImpl.class
target/classes/application.properties
target/classes/kladr.sql
target/classes/org/levelup/labradoodle/models/entities/Dish.class
target/classes/org/levelup/labradoodle/models/entities/Restaurant.class
target/classes/org/levelup/labradoodle/models/entities/TypesOfDishes.class
target/classes/org/levelup/labradoodle/models/entities/User.class
target/classes/org/levelup/labradoodle/models/entities/kladr/City.class
target/classes/org/levelup/labradoodle/models/entities/kladr/Region.class
target/classes/org/levelup/labradoodle/models/entities/kladr/Street.class
target/classes/org/levelup/labradoodle/models/web/DishDto.class
target/classes/org/levelup/labradoodle/models/web/RestaurantDto.class
target/classes/org/levelup/labradoodle/models/web/UserDto.class
target/classes/org/levelup/labradoodle/models/web/kladr/CityDto.class
target/classes/org/levelup/labradoodle/models/web/kladr/RegionDto.class
target/classes/org/levelup/labradoodle/models/web/kladr/StreetDto.class
target/classes/resources/css/bootstrap-theme.css
target/classes/resources/css/bootstrap.css
target/classes/resources/css/font-awesome.css
target/classes/resources/css/index.css
target/classes/resources/fonts/fontawesome-webfont.eot
target/classes/resources/fonts/fontawesome-webfont.svg
target/classes/resources/fonts/fontawesome-webfont.ttf
target/classes/resources/fonts/fontawesome-webfont.woff
target/classes/resources/fonts/fontawesome-webfont.woff2
target/classes/resources/fonts/FontAwesome.otf
target/classes/resources/fonts/glyphicons-halflings-regular.eot
target/classes/resources/fonts/glyphicons-halflings-regular.svg
target/classes/resources/fonts/glyphicons-halflings-regular.ttf
target/classes/resources/fonts/glyphicons-halflings-regular.woff
target/classes/resources/fonts/glyphicons-halflings-regular.woff2
target/classes/resources/img/burgers.jpg
target/classes/resources/img/chine.jpg
target/classes/resources/img/fish.jpg
target/classes/resources/img/pizza.jpg
target/classes/resources/img/sushi.jpg
target/classes/resources/js/bootstrap.js
target/classes/resources/js/index.js
target/classes/resources/js/jquery-2.1.4.js
target/classes/WEB-INF/lib/c-1_0-rt.tld
target/classes/WEB-INF/lib/c-1_0.tld
target/classes/WEB-INF/lib/c.tld
target/classes/WEB-INF/lib/fmt-1_0-rt.tld
target/classes/WEB-INF/lib/fmt-1_0.tld
target/classes/WEB-INF/lib/fmt.tld
target/classes/WEB-INF/lib/fn.tld
target/classes/WEB-INF/lib/permittedTaglibs.tld
target/classes/WEB-INF/lib/scriptfree.tld
target/classes/WEB-INF/lib/spring-form.tld
target/classes/WEB-INF/lib/spring.tld
target/classes/WEB-INF/lib/sql-1_0-rt.tld
target/classes/WEB-INF/lib/sql-1_0.tld
target/classes/WEB-INF/lib/sql.tld
target/classes/WEB-INF/lib/x-1_0-rt.tld
target/classes/WEB-INF/lib/x-1_0.tld
target/classes/WEB-INF/lib/x.tld
target/classes/WEB-INF/views/index.ftl
target/test-classes/DishDtoTest.class
target/test-classes/RestaurantDtoTest.class
target/test-classes/UserDtoTest.class
